.cardConteiner {
  margin-left: 20px;
}
.goBackButton {
  background-color: #444444;
  color: #fff;
  padding: 15px 25px;
  border: none;
  font-size: 18px;
}
.namePet {
  font-size: 25px;
  font-weight: 600;
}

.petCardConteiner {
  max-width: 900px;
  margin-left: 40px;
}

.petAllInformation {
  display: flex;
}
.petInformation {
  margin-left: 20px;
  font-size: 20px;
  margin-top: 200px;
}
.petImg {
  width: 900px;
}
