.wrapper {
  position: relative;
  width: 100wh;
  height: 100vh;
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
  text-align: center;
}
